@{
    ViewData["Title"] = "History of Lomography";
}

<section id="main" class="default">
    <div class="container tagline">
        <p>The lomography name is inspired by the former state-run optics manufacturer LOMO PLC of Saint Petersburg, 
            Russia that created and produced the 35 mm LOMO LC-A Compact Automat camera, now central to lomography. 
            This camera was loosely based upon the Cosina CX-1 and introduced in the early 1980s. The LOMO LC-A produces "unique, colorful, 
            and sometimes blurry" images. Sample shot from a LOMO LC-A The Lomographic Society International was founded in 1992 by 
            a group of Viennese students interested in the LCA, a camera created by LOMO PLC of Saint Petersburg, Russia. 
            Lomography started as an art movement through which the students put on exhibitions of photos; 
            the art movement then developed into the Lomographische AG, a commercial enterprise. </p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/f/ff/LOMOLCA.jpg" alt="Lomo LC-A" title="Copyrighted free use"> 
    </div>
</section>
