@{
    ViewData["Title"] = "About";
}

<section class="default">
    <div class="container tagline">
        <p>Our shope was founded by couple of lomo fans in middle of nineties who had a goal to create a place for the same minded to exchange their favorite 
            lomo pictures in times when social media were unexisting. So our web site was born.</p>
        <img src="/images/backgrounds/lomopeople.jpg" alt="Lomo people"> 
    </div>
</section>