@{
    ViewData["Title"] = "Home Page";
}

<section id="main">
    <div class="container tagline">
        <h2 class="headline">Welcome to the LomoLife Shop</h2>
        <p> Our goal is to provide a place for lomography enthusiast to share theire photos or support others by buying their photos. We’re sure you'll find something to suit your taste .</p>
    </div><!-- container tagline -->
</section>
